<!DOCTYPE html>
<html>
<%- include('partial/head') %>
<body class="layout-<%- page.layout %>">
  <%- include('partial/header') %>
  <main>
    <section class="content">
      <%- body %>
    </section>
  </main>
  <%- include('partial/footer') %>
</body>
</html>
